
{% extends 'basic.html' %}
{% block title %}
    Resume Page
{% endblock title %}
{% block body %}
<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <p>Have a great knowledge in Python,C,C++,Django framework, and some basic knowledge in JavaScript, HTML and CSS
          An enthusiastic person with highly motivated and leadership skills.
          Always willing to innovate new things which can improve the existing technology.
          .</p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-up">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>Shahid Patel</h4>
            <p><em>Innovative and deadline-driven Web Develper with 1+ years of experience developing and creating user-centered webpages from initial concept to final, polished deliverable.</em></p>
            <ul>
              <li>Village Kadwa,Indore, MP</li>
              <li>+91 8827034648,9926810017</li>
              <li>shahidpatel34648@gmail.com</li>
            </ul>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Master of Computer Application &amp; Python Developer</h4>
            <h5>2021 - 2023</h5>
            <p><em>Shri Vaishnav Vidyapeeth Vishwavidyalaya, Indore</em></p>
            <p>I Recently complete my postgraduation in MCA with-</p>
            <p>  CGPA:-7.25
            </p>
          </div>
          <div class="resume-item">
            <h4>Bachelor of Computer Application&amp; Web Developer</h4>
            <h5>2018 - 2021</h5>
            <p><em>PMB Gujrati Science College, Indore, MP</em></p>
            <p>I am complete my graduation in 2021 with respective University and I get -</p>
            <p> 66%  Percentege</p>
          </div>
        </div>
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Intern </h4>
            <h3> Cyber Instant Pvt Ltd,Hydrabad </h3>
            <h5>Feb 2023 - Jun 2023</h5>
            <p><em>Remote </em></p>
            <ul>
              <li>Lead in the design, development, and implementation of the graphic, layout, and production communication materials</li>
              <li>Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the project. </li>
              <li>Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the design</li>
              <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Python Django Developer</h4>
            <h5>2017 - 2018</h5>
            <p><em>freelansher</em></p>
            <ul>
              <li>Developed numerous Web developing project (login logout,management,infographics, presentations, and advertisements).</li>
              <li>Managed up to 5 projects or tasks at a given time while under pressure</li>
              <li>Recommended and consulted with clients on the most appropriate Web(Django) developement</li>
              <li>Created 4+ design presentations and proposals a month for clients and account managers</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->
{% endblock body %}
