{% extends 'basic.html' %}
{% block title %}
    Contact Page
{% endblock title %}
{% block body %}
<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Services</h2>
        <p>We will provide many services just Web developement, App developement, Software developement,AI&ML</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
          <div class="icon"><i class="bi bi-briefcase"></i></div>
          <h4 class="title"><a href="">Web-developement</a></h4>
          <p class="description">Web developement are our one of the most popular and demanding service we will use the Python 
            along with Django framework to develop beatuful web app
          </p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="bi bi-card-checklist"></i></div>
          <h4 class="title"><a href="">Front-end</a></h4>
          <p class="description">We will provide the very good Design on the front-end</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="bi bi-bar-chart"></i></div>
          <h4 class="title"><a href="">Back-End</a></h4>
          <p class="description">We have done most of the work on back end and our service is as good on back end as it is on front end.
          </p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="bi bi-binoculars"></i></div>
          <h4 class="title"><a href="">Software Developement</a></h4>
          <p class="description">Software developement is a also our service anyone want good software we will built.</p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
          <div class="icon"><i class="bi bi-brightness-high"></i></div>
          <h4 class="title"><a href="">AI & ML</a></h4>
          <p class="description">Artificial Intelligence and Machine learning is one of the demanding technology and we are also work on that.</p>
        </div>
        
      </div>

    </div>
  </section><!-- End Services Section -->


{% endblock body  %}